*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --base-color: linear-gradient(90deg,#574AE8, #3EA1DB);
    --base-color-2: #3EA1DB;
    --title-color: #313131;
    --text-color: #B6B6B6;
    --light: #ffffff;
    --gray: #F3F5F7;

}

header{
    width: 100%;
    height: 25vh;
    background:var(--base-color);
}

.title{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header h1,h2{
    color: var(--light);
    font-weight: 500;
}

.search{
    display: flex;
    justify-content: center;
   
}

.search input{
    display: flex;
    justify-content: center;
    width: 54%;
    height: 2.4rem;
    border-radius: 0.4rem;
    border: none;
    padding-left: 1rem;
}

section{
    background: var(--gray);
    width: 100%;
    height: auto;
    overflow: hidden;
  
}

.cards{
    display: grid;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 20rem;
    background: var(--light);
    padding: 1rem 5rem 1rem 5rem;
    width: 54%;
    height: 10rem;
   

}

.dacon{
    display: flex;
    justify-content: space-between;
}

section .cards h2{
    color: var(--title-color);
}

section .cards p{
    color: var(--text-color);
}