*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --base-color: linear-gradient(90deg,#574AE8, #3EA1DB);
    --base-color-2: #3EA1DB;
    --title-color: #313131;
    --text-color: #B6B6B6;
    --light: #ffffff;
    --gray: #F3F5F7;

}

header{
    width: 100%;
    height: 25vh;
    background:var(--base-color);
}

.title{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header h2,h3{
    color: var(--light);
    font-weight: 500;
}

.search{
    display: flex;
    justify-content: center;
   
}

.search input{
    display: flex;
    justify-content: center;
    width: 54%;
    height: 2.4rem;
    border-radius: 0.4rem;
    border: none;
    padding-left: 1rem;
}